/* Globar view */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #ebebeb;
  font-family: "Asap", sans-serif;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}
/* texto del banner */
.logo {
  font-size: 1.8rem;
  color: rgb(122, 9, 228);

}

.container {
  min-height: 500px;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 140px;
}

.header-container {
  background-color: rgb(60, 60, 60);
  min-height: 100px;
  margin-bottom: 40px;
  margin-top: -8px;
  position: fixed;
  width: 100%;
}

header {
  max-width: 1024px;
  min-height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  width: 28.5%;
  margin-bottom: 40px;
  text-align: center;
  background-color: rgb(43, 226, 76);
}

.col p {
  font-size: 0.875rem;
  padding: 20px 25px;
  line-height: 1.25rem;
}

/* columna camuflada */
.col-camou {
  width: 28.5%;
  margin-bottom: 40px;
  text-align: center;
  background-color: #ebebeb;
}

.column-inactive {
  display: none;
}

/* segunda clase solo escritorio */
.hide-desktop-only {
  display: none;
}

.container .col h1 {
  font-size: 20px;
}


.col p::first-line {
  font-weight: 700;
}

/* clase capturada de etiqueta a */
.mybutton {
  padding: 10px 25px;
  border-style: solid;
  border-width: 1px;
  margin-left: 20px;
}

.highlight {
  font-weight: 700px;
  color: mediumpurple;
  font-size: 20px;
  margin-bottom: 10px;
}

.mob-wrapper {

  display: none;
}


.about {

  width: 80%;
  height: 200px;
  /* background-color: rgb(191, 191, 219); */

}

.about h1{
  text-align: center;
  color: rgb(208, 95, 95);

}
.about h3 {
  color: rgb(208, 95, 95);
}



/* tablet view */

@media (max-width: 885px) {
  .col {
    width: 45%;
  }

  /* aplicando segunda clase */
  .hide-desktop-only {
    display: block;
  }


  .header-container {
    position: relative;
  }

  .container {
    padding-top: 0;
  }

  nav {
    display: none;
  }

  nav a {
    display: block;
    margin-left: 0;
  }

  .logo {
    padding: 40px 0;
  }

  .mybutton {
    margin-left: 0;
  }

  /* acción del menú burger */
  .mob-wrapper {

    display: block;
    padding-right: 20px;
  }

  .mob-nav {
    margin-top: 27px;
    display: none;
    position: absolute;

  }

   .navbutton{
    display: block;
    background-color: coral;
    height: 100px;
    min-width:200px;
    padding: 47px 30px;
    margin: 0px -60px 0px -253px;
    text-align: center;
   
  }

  .navbutton:hover{
    background-color: rgb(80, 141, 255);
  }

  /* fin acción del menú burger */

}

/* Mobile view */

@media (max-width: 400px) {
  .col {
    width: 100%;
  }

  .hide-mobile {
    display: none;
  }
}